# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# load output_data_file from WeatherPy located in the folder output data
output_data_file = 'output_data/cities.csv'

In [3]:
#Create a data frame for the cities
cities_df = pd.read_csv(output_data_file)

weather_data_frame = cities_df.drop(columns=["Unnamed: 0"])
weather_data_frame

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,jamestown,90,US,1579998908,97,42.10,-79.24,36.00,5.82
1,ulladulla,29,AU,1579998970,49,-35.35,150.47,89.60,8.05
2,batagay-alyta,0,RU,1579998962,54,67.80,130.41,-34.38,4.38
3,puerto ayora,75,EC,1579999060,78,-0.74,-90.35,78.80,8.05
4,ancud,100,CL,1579998934,68,-41.87,-73.82,66.20,6.93
...,...,...,...,...,...,...,...,...,...
556,port-gentil,40,GA,1579998986,88,-0.72,8.78,82.40,5.82
557,tuatapere,78,NZ,1579998957,47,-46.13,167.68,72.34,3.47
558,chipinge,10,ZW,1579998923,72,-20.19,32.62,64.89,3.47
559,abastumani,0,GE,1579999129,71,41.71,42.85,32.00,4.70
560,stornoway,100,GB,1579998939,93,58.21,-6.39,46.40,33.33

# Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps key
gmaps.configure(api_key=g_key)

In [5]:
# Store latitude and longitude in locations
locations = weather_data_frame[["Lat", "Lng"]]

# Used humidity as the weight
# Fill NaN values and convert to float
humidity = weather_data_frame["Humidity"].astype(float)

# Figure Layout
figure_layout={
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px'
}

# Plot the Heatmap
fig = gmaps.figure()

# create de heat layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

# Add the layer to the map
fig.add_layer(heatmap_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal

# Create ideal cities data frame with the desirable variables
ideal_cities_df = pd.DataFrame(weather_data_frame, columns = ["City", "Cloudiness", "Max Temp", "Wind Speed"])

max_temp = (ideal_cities_df["Max Temp"] <= 80) & (ideal_cities_df["Max Temp"] > 70)
wind_speed = ideal_cities_df["Wind Speed"] < 10
cloudiness = ideal_cities_df["Cloudiness"] == 0

# Ideals Cities data frame with max_temp, wind_speed and cloudiness]
ideal_cities_df[cloudiness & max_temp & wind_speed]

                             City  Cloudiness  Max Temp  Wind Speed
46                arraial do cabo           0     75.79        9.40
210                      ampanihy           0     71.40        9.01
319  presidencia roque saenz pena           0     79.27        4.27

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Store into variable named hotel_df .
hotel_df = pd.DataFrame(weather_data_frame, columns=["City", "Country", "Lat", "Lng"])

# Add a "Hotel Name" column to the weather_data_frame.
hotel_df["Hotel Name"] = ""

# see table
hotel_df

              City Country    Lat     Lng Hotel Name
0        jamestown      US  42.10  -79.24
1        ulladulla      AU -35.35  150.47
2    batagay-alyta      RU  67.80  130.41
3     puerto ayora      EC  -0.74  -90.35
4            ancud      CL -41.87  -73.82
..             ...     ...    ...     ...        ...
556    port-gentil      GA  -0.72    8.78
557      tuatapere      NZ -46.13  167.68
558       chipinge      ZW -20.19   32.62
559     abastumani      GE  41.71   42.85
560      stornoway      GB  58.21   -6.39

[561 rows x 5 columns]

In [8]:
# Set parameters to search for hotels with 5000 meters.
coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
search = "hotel"
radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": coordinates,
    "keyword": search,
    "radius": radius,
    "type": target_type,
    "key": g_key
}

# Build URL using the Google Maps API
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

cities_ideal = response.json()
                        
pprint(response.json(), depth=1)

{'html_attributions': [], 'results': [...], 'status': 'OK'}

In [9]:
hotel_df.iloc[0][0]

'jamestown'

# Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates

In [10]:
# Define a list to storage the hotel names 
hotel_name = []

# Assign Geo Coordinates
radious = '5000'
keyword = 'hotel'
types = 'hotel'

# set up a parameters dictionary
params = {
    "keyword": keyword,
    "radius": radius,
    "types": types,
    "key": g_key
}

# loop through
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [11]:
hotel_name

['Chautauqua Harbor Hotel',
 'Bannisters Pavilion',
 nan,
 'Hotel Solymar Galapagos',
 'Hotel Arena Gruesa',
 "Pension Maro'i",
 'Hospitality Carnarvon',
 'The Woodbridge',
 'The Brunswick Hotel',
 'Hotel Da Vila',
 'Hilo Hawaiian Hotel',
 'Nuli Sapi',
 nan,
 'Hotel José Nogueira',
 'Waihi Beach Hotel',
 'Hotel Almagre',
 'Salalah Gardens Hotel',
 'Kondari Hotel',
 'Cape Fox Lodge',
 nan,
 'Quinta Das Buganvílias',
 'Delphin',
 'Hotel Angmagssalik',
 'The Explorer Hotel',
 'HOTEL MADRID PLAZA',
 'Golden Tulip Porto Vitória',
 'Harbour House Hotel',
 'Hotel Olafsvik',
 'Hotel RIKMAN Continental',
 'Kauai Shores Hotel',
 'Falls Hotel',
 nan,
 'Mini-hotel Meduza',
 'The Tusks Lodge',
 'Inn Inubosaki hotel of superb view',
 'Hotel Santos Pina',
 'MyPond Hotel',
 'Hotel Internacional',
 nan,
 'Hotel Adras',
 'Red Hotel',
 'Hotel Miramar',
 'Hotel Kap Farvel',
 nan,
 'Paradise First Hotel',
 'SureStay Plus Hotel by Best Western Lompoc',
 'Hotel da Canoa',
 'Best Western Kodiak Inn and Convention Center',
 'Cree Village Eco Lodge',
 'Quality Hotel Mildura Grand',
 'Jupiter Hotel Portland',
 'The Edgewater Resort and Spa',
 nan,
 'Casa Laguna, Bed & Breakfast',
 'Auberge mer et desert',
 "Hunter's B&B",
 nan,
 'Los Cauquenes Resort & Spa',
 'Best Western Plus Abbey Inn',
 'Hotel Mathilda',
 'Hotel Skarbek',
 'Fortune Riverview Chiang Khong',
 nan,
 nan,
 nan,
 nan,
 'Qaanaaq Hotel',
 'Top of the World Hotel',
 'Welk Resorts Cabo San Lucas',
 'Hotel Oasis Atlantico Praiamar',
 nan,
 'Westmark Sitka',
 nan,
 'The Anchorage Hotel',
 'Obelix Guesthouse',
 'Grand Isla Navidad Resort',
 'Abbey Beach Resort',
 nan,
 nan,
 'Forest Inn & Conference Centre',
 'Nusa Island Retreat',
 'Hotel Arctic',
 nan,
 'Naujaaraaluit – Clyde River Hotel',
 'Prozhivaniye V Okhotske',
 'Lidotel Hotel Boutique San Cristobal',
 'The Bubble Lives Denses- Bed and Breakfast near Dreux',
 'The Silo Hotel',
 'Усадьба Жемчужный край',
 nan,
 'Tourist House - Sablino',
 'Resort Sur Beach Holiday منتجع شاطئ صور هوليداي',
 'Groote Eylandt Lodge',
 nan,
 nan,
 'Rekidhiye Inn',
 'Fema Lodge',
 'Ocean Centre Hotel',
 nan,
 "Eileen's Bed & Breakfast - Guest House",
 'Courtyard by Marriott Maui Kahului Airport',
 "Arraial d'Ajuda Eco Resort",
 'コテージ アリスの里',
 'Resort Safari Souria منتجع سفاري سورية',
 'Graciosa Resort - Biosphere Island Hotel',
 'Botany Bay Hotel',
 "The Trainmaster's Inn",
 'Tucan Residence',
 nan,
 'Heritage Hotel',
 'Warwick Doha Hotel',
 nan,
 'Akantuka Homestay',
 'Hotel Mansons Plaza',
 'Ye Olde Sutherland Inn',
 nan,
 'Hotel La Casa Del Algodon',
 'Notodden Hotel',
 'Fortuna',
 'Mirante Hotel',
 'Westmark Fairbanks Hotel & Conference Center',
 'Hotel Plaza Lebu',
 'Shanti Maurice Resort & Spa',
 'InterTower Hotel',
 'Rupununi Eco Hotel',
 'Arrecife Gran Hotel & Spa',
 'Les Embruns Du Baril',
 'Grandview Apartments',
 'Laguna Beach Hotel & Spa',
 'Pension Temetiu Village',
 'Guesthouse Ryoufuu',
 'Aston Kupang Hotel & Convention Center',
 'Café de Upernavik',
 'Casa Hacienda San Jose',
 'Al Riaz Hotel',
 'Lorengau Harbourside Hotel',
 'Holiday Inn Express & Suites Pecos',
 'Shandrani Beachcomber Resort & Spa',
 'iu Hotel Benguela',
 nan,
 'Best Western Thompson Hotel & Suites',
 'Apera Beach Front Bungalows',
 'MBM HOTEL',
 'Mountain Hotel',
 nan,
 'White Wind Resort',
 'Casa Grande de Anllo',
 nan,
 'Hotel Indigo Traverse City',
 'Yeet Hotel',
 nan,
 'Barrack Point Holidays',
 'Hotel Thalis',
 nan,
 'Mar Guesthouse',
 'Palm Spring Resort Hotel',
 'Royal Exchange Hotel',
 'E-Hotel Muravlenko',
 'PiscoMar Peru',
 'Opuwo Country Lodge',
 nan,
 'Old Mill Hotel',
 'Kamusioh Guesthouse',
 'Luna de Canela',
 'Fosshotel Húsavík',
 'Nome Nugget Inn',
 'Hostel "Baltiysky Les"',
 'Bredasdorp Country Manor',
 'Protea Hotel by Marriott Takoradi Select',
 'The Gurney Resort Hotel and Residences',
 "Maia's Beach Resort",
 'Protea Hotel by Marriott Saldanha Bay',
 'Piipun Piha',
 nan,
 "Land's End Boutique Hotel",
 'Hotel Mansión',
 'Ossora',
 nan,
 'Central Hotel',
 'Jægtvolden Fjordhotell',
 'Hotel Gołębiewski',
 'Zilwa Attitude Hotel',
 'Courtyard by Marriott Danbury',
 'Hotel Alaska',
 nan,
 'Sheraton Mar del Plata Hotel',
 'Hotel Meuligoe',
 'Hotel Port Aux Basques',
 'فندق المواجيد',
 'Hotel Posada Navideña',
 'Shushupe Hotel',
 'Hotel Carabane',
 nan,
 'Bay View Hotel',
 'Hotel Kanjirowa',
 'Sentidos Beach Retreat',
 'OYO 1669 Hotel Vista Syariah',
 nan,
 'Hotel Memory',
 'Bay House',
 'Deep River Motel',
 'La Cueva del Pirata',
 'Mehamn Arctic Hotel AS',
 'Hotel Songhoï',
 nan,
 nan,
 'Hotel Hollywood',
 nan,
 'Quality Hotel Bodensia',
 'InterContinental Bora Bora Resort Thalasso Spa',
 'Angora Hotel',
 'Magnolias Cottage',
 nan,
 'Hotel Doña Marta',
 'BISMI HOTEL',
 'Zemi Beach House, LXR Hotels & Resorts',
 'Katsuura Hotel Mikazuki',
 nan,
 'Hotel zur Linde',
 nan,
 'Atlântida Mar Hotel',
 'Best Western Bonnyville Inn & Suites',
 nan,
 'MH Peniche',
 nan,
 'Lusambo Anex',
 'Kingsgate Hotel & Conference Center',
 'The Esplanade Hotel',
 'ECO Lifestyle & Lodge',
 'Untertelshof',
 'Kak Doma',
 'Hotel Resonex Nago',
 nan,
 'Hotel Guurow Guest House',
 nan,
 'Hotel Butembo',
 'The Motse - Tswalu Kalahari Luxury Private Game Reserve',
 'Hotel Aconchego',
 nan,
 'Drifters Motel & Restaurant',
 nan,
 'Hotel en Leticia Amazonas',
 'Manazeli Makkah Hotel',
 'Seri Malaysia Mersing',
 'Country Inn & Suites by Radisson, Dearborn, MI',
 'Karratha International Hotel',
 nan,
 'DoubleTree by Hilton Hotel Alice Springs',
 'Moradia T5 Ponta Garça',
 "Motel L'Archipel Inc",
 'Great Bear Lodge',
 'عروس الشاطئ للوحدات السكنية المفروشة',
 'Taloa Heights',
 nan,
 'Westmark Fairbanks Hotel & Conference Center',
 'Abacus Motel',
 'Orgin Hotel',
 'Southbridge Hotel & Conference Center',
 nan,
 'EASTGATE Hotel',
 'Jinbailing Hotel',
 'Quzhou International Hotel',
 'Pousada Rosa',
 nan,
 'Balihai Bungalows',
 'Hotel Arvon',
 'Microtel Inn & Suites by Wyndham Johnstown',
 nan,
 'AKZ Guest House',
 'Good Nite Inn Rohnert Park Sonoma County',
 nan,
 'Best Western Gold Rush Inn',
 'Midgard Base Camp & Restaurant',
 'Hotell Slottsbacken',
 nan,
 'Rosarito Beach Hotel',
 nan,
 'Hotel MOMBO Beach Owando',
 nan,
 'Atbasar',
 'Vardø Hotel AS',
 'Gran Hotel',
 'Hotel Du Lac',
 nan,
 'Central Palace Hotel - Castro (PR)',
 'Out of the Blue Azores',
 nan,
 'Gostinitsa Tranzit.',
 'Sundog Inn',
 'Steppe hotel',
 nan,
 nan,
 'Hotel Albatroz Cascais',
 'Tibesti Hotel',
 'Federal Hotel Restaurant',
 'Rock Sound Club',
 'The Adventures Inn-Peleliu',
 'Quality Inn & Suites',
 'Hotel Arpa',
 'Lancaster Inn',
 'OURE TERA beach resort',
 'Hyatt Regency Paris Étoile',
 'Sails Port Macquarie by Rydges',
 'Perekrestok Mini-Hotel',
 'Park-Otel\' "Paluba"',
 'Arktika',
 'Hilton Garden Inn Grand Forks-UND',
 'Pahrump Nugget',
 'Hotel Europe',
 'Momak 1 Hotel & Suites',
 nan,
 nan,
 'Jingdu Hotel',
 'Hotel "Orbita"',
 'Neuquen Tower Hotel',
 'Hotel Du Havre',
 'Shizunai Eclipse Hotel',
 'Harbour Hotel',
 'Little America Hotel',
 'Hotel Gualok',
 'Radisson Blu Polar Hotel, Spitsbergen',
 'Pousada Encanto Abrolhos',
 'Zaver Pearl Continental Hotel',
 'Marystown Hotel & Convention Centre',
 'Hotel Kalinowski',
 nan,
 'Avoni Hotel',
 'The Gurney Resort Hotel and Residences',
 nan,
 'Hilton Garden Inn Santo André',
 "Claudine's Guesthouse",
 'AC Hotel by Marriott Minneapolis Downtown',
 'Hotel Terrado Cavancha',
 'Эко отель "Альтаир"',
 'Hotel North Palmyra',
 'Pousada Amigos do Vento',
 'New Palace Hotel',
 nan,
 'Playa 55 beach escape',
 'Xinyuan Hotel',
 'Hotel Oasis Atlantico Praiamar',
 'Hotel Kargasok',
 'Hotel Valcarce Ferrol',
 'Laghetto Viverone Rio Grande',
 'Hotel complex Pastoral',
 'The Hollies B&B',
 'BON Hotel Waterfront Richards Bay',
 'Grand Altundağ Otel',
 nan,
 'BreakFree on Cashel Christchurch',
 nan,
 'Austral Hotel',
 'فندق رشيد الدولي',
 'Hotel Pushpak Lodge',
 'Springbok Inn by Country Hotels',
 nan,
 'Four Points by Sheraton Juneau',
 'Doosti Hotel',
 'Coral Hotel Aden',
 nan,
 'Hotel Taman Mangkubumi Indah',
 nan,
 'La Mihai',
 'Biscayne Suites',
 'East Gate Hotel',
 'Hotel Howard Johnson Plaza Resort & Casino Mayorazgo',
 nan,
 'RedDoorz Plus @ Bitung City Center',
 'Hotel Lucerna Ciudad Juárez',
 'Hotel Globus',
 'DoubleTree by Hilton Hotel Naha Shuri Castle',
 nan,
 'Hampton Inn & Suites Grants Pass',
 nan,
 nan,
 nan,
 'Sortland Hotel',
 nan,
 nan,
 'Viglosam Lodge',
 'Holiday Inn Express and Suites Havelock',
 'Palace Hotel',
 'Best Western Hotel St. Jerome',
 nan,
 nan,
 'Thon Hotel Kautokeino',
 'Abay Minch Lodge',
 'HOTEL RANCHO VIEJO INN',
 "L'oiseau de Paradis",
 'Fortune Resort Bay Island',
 'Grand Trisula Hotel',
 nan,
 "Shangri-La's Le Touessrok Resort & Spa",
 'Best Western Plus Humboldt Bay Inn',
 'Grand Zion Garden Resort Hotel',
 'NH La Perdiz',
 'P. Noble Hotels and Suite',
 '8 Rooms Boutique Hotel',
 nan,
 'Заимка. Гостиница и кафе',
 'May’s Pool House',
 'Gostinitsa Svet V Okne',
 'Best Western War Bonnet Inn',
 nan,
 'Hotel Olako',
 'Radisson Blu Hotel, Tromsø',
 nan,
 'DoubleTree by Hilton Hotel Bloomington - Minneapolis South',
 'Holiday Inn Express & Suites Russellville',
 'HOTEL PLAZA',
 nan,
 nan,
 'Lakeview Inns & Suites - Fort Nelson',
 'Hotel Goiânia',
 'International Hotel',
 'Hotel Vestmannaeyjar',
 'The Dunes Hotel & Resort',
 'Hotel Real Oeiras',
 'El Castillo',
 'Pousada Kactus',
 'Waverley Hotel',
 'Shubham Hotel',
 'Frobisher Inn',
 'Club Hotel Casino Loutraki',
 nan,
 "Painter's Lodge",
 'Omni Corpus Christi Hotel',
 'Hotel',
 'Motel Zeleniy Bor',
 'Hótel Höfn',
 nan,
 'اقامتگاه بومگردی هرموزیا',
 'Hotel Svetlogorsk JBIK',
 'Hôtel Niara Belly',
 'Hotel Coral Beach',
 "Yaver'in Konağı",
 'Sukumo Resort Yashinoyu',
 'Shiny River Hotel',
 nan,
 'Betikure Parc Lodge',
 'The Old Jail',
 'Holiday Inn Resort Acapulco',
 'Marri Hotel',
 'Hotel "Ternay"',
 'Marawi Resort Hotel',
 'Dali Royle Hotel',
 'Hotel Universel',
 nan,
 'Monterey Plaza Hotel & Spa',
 'Best Western Hotel Plaza Real',
 'Hospedaje El Tambo',
 'Royal Amazonia',
 nan,
 'Oravae Island Cottages',
 'Jianshe Hotel',
 'Shangri-la Hotel,Qinhuangdao',
 'Гостиница "Идиллия"',
 'Zilwa Attitude Hotel',
 'hotel Mirador Eden',
 nan,
 'Hotel União',
 'Hotel Nakamurasō',
 'Yalemd',
 'Hotel Pari',
 'Ulvesund FYR',
 'Hotel Continental Luanda',
 'Hotel Montt Plaza',
 'Comfort Inn Bay Of Isles',
 nan,
 'Saraye Ameriha Boutique Hotel',
 'Holiday Inn Express & Suites Chesterfield - Selfridge Area',
 'Hampton Inn & Suites Rexburg',
 'Hotel Garapacho',
 'The Wayfarer',
 nan,
 'Gostinitsa',
 'Bomah Hotel',
 'Westwood Inn Hotel & Indoor',
 nan,
 'Zenit San Sebastián',
 nan,
 nan,
 'Seagate Hotel',
 nan,
 'Pousada Barra Velha',
 'Distinction Te Anau Hotel & Villas',
 'Гостиница "Анадырь"',
 'Complexo Sonho Real',
 'Novotel New Plymouth',
 'Vestmanna Hostel',
 'Bristol Palace Hotel',
 'Reef Resort Motel',
 'Riad Kasbah',
 'Om Palace',
 nan,
 nan,
 'Hôtel Telwa Bungalow',
 'Hotel ibis Styles Iu Namibe',
 'The Mill Casino • Hotel & RV Park',
 'Holiday Inn Express & Suites Yankton',
 'Maitai Lapita Village Huahine',
 'Ibis Padang',
 'The Olivia Mansion',
 'Casa Nemo Beach Resort & Spa',
 'DoubleTree by Hilton Hotel Fayetteville',
 'Hôtel Opémiska',
 nan,
 'Golden Butterfly Hotel',
 'Gostinitsa Nurlan',
 'Pazo do Souto',
 'Paradise Bay Resort',
 nan,
 'Ankobra Beach Resort',
 'Hotel Puerto del Sol',
 'Oshen Apartments Yeppoon',
 'J.I.T Hotel',
 '哈密环球大酒店',
 nan,
 'mecca hotel',
 'Hotel Estancia De La Virgen',
 'Renaissance Aktau Hotel',
 'Dawson Hotel Kamuli',
 '7Days Inn Qinhuangdao Changli Jieyang Street',
 'Hotel Sofitel Legend Old Cataract Aswan',
 'Fairfield Inn & Suites by Marriott Houma Southeast',
 'Munlom Nature Resort',
 'Kangcheng Jian Guo International Hotel',
 'Pribaltiysky Hotel',
 'Wet Water Resort',
 'Tranquil Beach Resort',
 'Yak Beach Hotel',
 nan,
 'Palm Spring Hotel',
 nan,
 'The Westin Grand Cayman Seven Mile Beach Resort & Spa',
 'The Anchorage Port Stephens Hotel & Spa',
 'Hotel Nemuro Kaiyoutei',
 'Idrætscenter Jammerbugt, Fjerritslev',
 'هتل سعید',
 'Port Lincoln Hotel',
 'Profilaktoriy Baes',
 'Гостевой дом - Guest house',
 'Hotel Nautilos',
 'Madalitso Guest House',
 nan,
 'Bear River Casino Resort',
 'Maraga Beach Hostel',
 nan,
 'Hotel Mayeye Foutou',
 'Hotel Austral Viedma',
 'Quality Inn',
 'Hotel Sisimiut',
 'Hotel Kununurra',
 "Motel' Osakarovka",
 'Yadav Hotel',
 nan,
 'Hotel du Parc',
 'Waiau Hotel',
 'Chipinge Breeze Lodge',
 'Green Hotel Abastumani',
 'Royal Hotel']

In [16]:
# export file
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('output_data/hotel_export.csv')

# Plot the hotels on top of the humidity heatmap with each pin containing the **Hotel Name**, **City**, and **Country**.

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

# Add the layer to the map
fig.add_layer(markers)


# Display Map
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Add marker layer ontop of heat map
markers_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layer to the map
fig.add_layer(markers_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))

References:
Pascal Bugnion. gmaps documentation. Jan 13, 2019. URL: https://buildmedia.readthedocs.org/media/pdf/jupyter-gmaps/latest/jupyter-gmaps.pdf

API documentation. Pascal Bugnion. 2016. URL: https://jupyter-gmaps.readthedocs.io/en/latest/api.html

gmaps. Pascal Bugnion. 2016. URL: https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html

Note: 
In the last figure, the some name couldn't not show when I clicked, I assume is for long of the Hotel Name.